<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- For Android 12, you need to add the following line to apply for the alarm clock permission. For Agora Chat 1.0.9 or later, this permission is optional. -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgoraChatApp"
        tools:targetApi="31">
        <activity
            android:name=".chatgroup.using_restapi.GroupChatDashboard"
            android:parentActivityName=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".chatgroup.using_dashboard.ChatGroupActivity"
            android:exported="false" />
        <activity
            android:name=".chatgroup.using_dashboard.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".chatgroup.using_restapi.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".one2onechat.using_restapi.One2OneChatActivity"
            android:exported="false" />
        <activity
            android:name=".one2onechat.using_dashboard.MainActivity"
            android:exported="false" />
        <activity
            android:name=".one2onechat.using_dashboard.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>